body {
    background-color: #353535 ;
}

.navbar {
    position: fixed; /* Fija la barra en la parte superior */
    top: 0;
    left: 0;
    width: 100%;
    background-color: #6a6a6a;
    padding: 15px 0;
    text-align: center;
    z-index: 1000;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
	text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 15px;
    transition: background 0.3s;
}

.navbar ul li a:hover {
    border-radius: 5px;
}

.content {
    margin-top: 70px; /* Espacio para que el contenido no quede oculto detrás de la barra */
    padding: 20px;
}
h1{
	font-family: "Cinzel", arial, calibri;
	color: white;
    text-align: center;
}
.header-container {
	background-color: #000000;
	display: flex;
	align-items: center;
	gap: 50px; /* Espacio entre la imagen y los títulos */
}
.header-container img {
	width: 300px;
	height: 300px;
	margin-left: 80px;
	margin-top: 15px;
	margin-bottom: 10px;
}
.content2{
    margin-top: 70px; /* Espacio para que el contenido no quede oculto detrás de la barra */
    padding: 20px;
}
.header-history{
    background-color: #000000;
    display: flex;
    align-items: center;

}
.content3{
    margin-top: 70px; /* Espacio para que el contenido no quede oculto detrás de la barra */
    padding: 20px;
}
.service{
    background-color: #000000;
    display: flex;
    align-items: center;

}
.content4{
    margin-top: 70px; /* Espacio para que el contenido no quede oculto detrás de la barra */
    padding: 20px;
}
.contact{
    background-color: #000000;
    display: flex;
    align-items: center;

}
