/*Hoja de estilos externa*/
body{
	background-color: beige;
	font-family: arial, verdana, sans-serif;
}
table{
	width: 90%;
	margin: auto;
	border: 1px solid lightskyblue;
	border-collapse: collapse;
	caption-side: bottom;
}
th, td{
	border: 1px solid lightsteelblue;
}
table tr:nth-child(odd){
	background-color: lightpink;
}
table tr:nth-child(even){
	background-color: darkviolet;
	color: white;
}
th{
	background-color: purple;
	color: white;
	padding: 14px;
}
td{
	padding: 12px;
	text-align: justify;
}
table tr:hover{
	background-color: lightslategrey;
	color: white;
}