ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 20%;
}
li a{
	display: block;
	background-color: lightseagreen;
	color: white;
	padding: 8px 10px;
	text-decoration: none;
}
li a:hover{
	background-color: #91D3BC;
	color: darkblue;
}
li a.activo{
	background-color: darkviolet;
	color: yellow;
}
li a:hover:not(.activo){/*cuando se pas*/
	background-color: #91D3BC;
	color: darkblue;
}
