/* Estilos generales */
body {
    background-color: #353535;
    color: white;
    font-family: "Cinzel", Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Barra de navegación */
.navbar {
    position: fixed;
    top: 5px;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 25px 0;
    text-align: center;
    z-index: 1000;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 15px;
    transition: background 0.3s;
}

.navbar ul li a:hover {
    background-color: #6a6a6a;
    border-radius: 5px;
}

/* Encabezado */
.header-container {
    display: flex;
    align-items: center;
    justify-content: centre;
    gap: 10px;
    padding: 20px;
    text-align: centre;
}

.hero {
    background-image: url('fondo.jfif');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Secciones */
.header-history, .contact, .bebidas-container {
    background-color: black;
    padding: 20px;
    text-align: center;
}

.service{
    padding: 20px;
    text-align: center;    
}


/* Ajustar tamaño uniforme a todas las imágenes */  
.content4 img {
    width: 100%;  /* Ajusta el tamaño según necesites */
    height: 350px;
    object-fit: cover; /* Evita distorsión y recorta la imagen si es necesario */
    border-radius: 10px; /* Bordes redondeados opcionales */
}
.header-history img {
    width: 100%; 
    height: 550px;
    object-fit: cover; /* Recorta y ajusta sin distorsión */
    border-radius: 10px;
}
.menu-img img{
    width: 100%;  /* Ajusta el tamaño según necesites */
    height: 850px;
    object-fit: cover; /* Evita distorsión y recorta la imagen si es necesario */
    border-radius: 10px; /* Bordes redondeados opcionales */
}
/* Contenido de contacto */
.contact ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.bebidas-container img{
    width: 95%;  /* Ajusta el tamaño según necesites */
    height: 450px;
    object-fit: cover; /* Evita distorsión y recorta la imagen si es necesario */
    border-radius: 10px; /* Bordes redondeados opcionales */
    
}
.content4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}
