body{
    font-family: Arial, sans-serif;
    background-color: #EC9DC7;
    margin: 0;
    padding: 20px;
}

div{
    margin-bottom: 20px;
}

h1{
    text-align: center;
    color: #4B51E7;
}

label{
    display: block;
    margin-bottom: 5px;
}

input{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button{
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover{
    background-color: darkred;
}

p{
    font-size: 18px;
    color: #333;
}
