*{
	margin: 0;
	padding: 0;
}
.contenedor{
	display: flex;
	flex-direction: column;
	height: 100vh;/*Es equivalente al 15% de la ventana*/
}	
.encabezado{
	background-color: #5D59CA;
	font-family: arial;
	color: white;
	text-align: center;
	padding: 25px;
	font-size: 20px;
}
.contenido{
	display: flex;
	flex-direction: space-between;
	flex: 1;/*ocupa todo el espacio restante*/
}
.texto{
	padding: 15px;
	margin: 15px;
	border: 1px solid ;
	flex: 1;
	box-shadow: 0px 10px rgba(0, 0, 0, .2);
	border-radius: 10px;
}
footer{
	text-align: center;
	color: white;
	background-color: #C4797A;
	padding: 10px;
}
@media(max-width: 500px){/*evalua una condicion con respecto a desde que dispositivo se ve la página*/
	.contenido{
		flex-direction: column;
	}
}